<h1>{{ message }}</h1>

<ul>
	<li>
		<a href="/getCars" class="get-posts">See cars</a>
	</li>
	<li>
		<a href="/getOne/R58" class="get-one">Get one • not functional yet</a>
	</li>
</ul>

<button type="button" id="F56" class="deleteButton">Delete XHR data</button>
<button type="button" id="F56" class="postButton">Post Data</button>

<button id="F55" class="getButton">Get XHR data</button>
<button id="F56" class="getButton">Get XHR data</button>
<button id="R58" class="getButton">Get XHR data</button>
